@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", serif;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-right: 20px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

.header {
  padding-top: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__block {
  position: relative;
}

.logo__letter {
  position: absolute;
  top: 12%;
  right: 30%;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.company_name {
  margin-left: 12px;
  font-weight: 700;
  font-size: 24px;
  color: #233348;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.nav__item {
  font-weight: 400;
  font-size: 18px;
  color: #1f1534;
}

.hero {
  margin-top: 84px;
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__des {
  margin-top: 8%;
  max-width: 445px;
}

.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
  color: #000;
}

.hero__text {
  margin-top: 25px;
  font-weight: 300;
  font-size: 21px;
  line-height: 152%;
  color: #7d7987;
}

.hero__btn {
  margin-top: 39px;
  width: 200px;
  height: 56px;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #458ff6;
  background-color: transparent;
  border-color: #458ff6;
  border-radius: 30px;
}

.service__block {
  margin-top: 171px;
}

.service__des {
  text-align: center;
}

.service__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 156%;
  color: #000;
}

.service__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #7d7987;
}

.service__product {
  margin-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}

.service__item {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__item_block {
  width: 241px;
}

.service__img_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 233%;
  color: #000;
}

.service__item_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: #7d7987;
}/*# sourceMappingURL=main.css.map */