* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  color: #fcf6f5;
  background-color: #f3603c;
  border: none;
  border-radius: 22px;
  outline: none;
  padding: 12px 32px;
}
