.header__block {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 32px;
}

.nav__item {
  font-weight: 500;
  font-size: 13px;
  color: #242d52;
}
