.header__block {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 73px;
}

.header__panel {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.item__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.header__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  padding: 10px 32px;
  border-radius: 25px;
  border: 2px solid #fff;
}
