.hero {
  padding: 120px;
}

.hero__block {
  display: flex;
  justify-content: space-between;
}

.hero__title_block {
  text-align: start;
}

.hero__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 156%;
  color: #fff;
}

.hero__line {
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
}

.hero__text {
  margin-top: 40px;
  width: 730px;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}
